@media (max-width: 767px) {}

@media (min-width: 768px) and (max-width: 1023px) {}

@media (min-width: 1024px) {
    #header{
        background-color: #198DE1;
        width: 100%;
        height: 100px;
        display: flex;
        border-radius: 55px 55px 0 0;
        justify-content: space-between;
        align-items: center;
     
    }
    #title-header{
        background-color: transparent;
     margin-left: 342px;
     color: #FFF;
font-size: 50px;
font-style: normal;
font-weight: 500;
line-height: normal;
    }
    #menu-header{
        background-color: transparent;
        margin-right: 30px;
    }
}